.form-container {
    margin-top: 6%;
    height: 800px;
    background: @ebony-clay;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-outline {
        margin: 0 auto;
        width: 30%;
        height: 75%;
        background: @porcelain;
        border-radius: 10px;

        .form-area {
            background: darken(@ebony-clay, 8%);
            height: 13%;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;

            h3{
                color: @porcelain;
                text-align: center;
                font-size: 2.2rem;
                padding-top: 6%;

            }

        }
    }
}